In [4]:

import glob
import pandas as pd


csv_files = glob.glob('/home/micro2/Desktop/bdvc/*.csv')


dfs = [pd.read_csv(file) for file in csv_files]
df = pd.concat(dfs, ignore_index=True)
#diis_index = df[df['Promoter'] == 'Government'].index
diis_index = df[df['Promoter'] == 'FIIs'].index
promter_index = df[df['Promoter'] == 'Promoters'].index


drop_indices = []


for start in diis_index:

    end_candidates = promter_index[promter_index > start]
    if not end_candidates.empty:
        end = end_candidates[0]
        drop_indices.extend(range(start + 1, end))


df.drop(drop_indices, inplace=True)
df.reset_index(drop=True, inplace=True)


diis_index = df[df['Promoter'] == 'DIIs'].index
promter_index = df[df['Promoter'] == 'Promoters'].index


drop_indices = []


for start in diis_index:

    end_candidates = promter_index[promter_index > start]
    if not end_candidates.empty:
        end = end_candidates[0]
        drop_indices.extend(range(start + 1, end))


df.drop(drop_indices, inplace=True)
df = df[df['Promoter'] != "FIIs"] 
df = df[df['Promoter'] != "DIIs"] 
df = df[df['Promoter'] != "Public"] 
df = df[df['Promoter'] != "Government"] 
df = df[df['Promoter'] != "Others"]
df = df[df['Promoter'] != "Promoters"]
df.reset_index(drop=True, inplace=True)

#top_promoters = df['Promoter'].value_counts().head(10).index
#top_promoters =top_promoters.drop("Promoters")
#top_promoter_df = df[df['Promoter'].isin(top_promoters)]

In [6]:
df

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
1,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
2,Priyadarshini Nigam,9.39,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
3,Usha Varadarajan,1.90,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
4,Ragini Goorha,0.00,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
...,...,...,...,...,...,...,...,...,...
481019,SBI General Insurance Company Limited,0.00,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
481020,Icici Prudential MultiAsset Fund,5.37,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
481021,Life Insurance Corporation Of India P Gs Fund,5.96,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
481022,Mirae Asset Large Cap Fund,1.11,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
481023,Nippon Life India Trustee LtdAC Nippon India Lar,1.65,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024

In [5]:
de = df[df["Promoter"]=="Diwakar Nigam"]

In [112]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,PromoterShares,MarketValue
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Sep 2021,01-09-2021,31444950.06,NaN
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Dec 2021,01-12-2021,31444950.06,3.377187e+10
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Mar 2022,01-03-2022,31444950.06,NaN
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Jun 2022,01-06-2022,31444950.06,NaN
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Sep 2022,01-09-2022,31444950.06,NaN
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Dec 2022,01-12-2022,31444950.06,NaN
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Mar 2023,01-03-2023,31444950.06,NaN
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Jun 2023,01-06-2023,31444950.06,NaN
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Sep 2023,01-09-2023,31444950.06,NaN
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Dec 2023,01-12-2023,31388823.42,NaN
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Mar 2024,01-03-2024,31360760.10,NaN
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,140316600.0,Jun 2024,01-06-2024,31360760.10,NaN

In [8]:
de.dtypes

Promoter               object
Share                 float64
BSE Code                int64
NSE Code               object
Price                 float64
MCap                  float64
TotalShares           float64
CaptureDate            object
Date           datetime64[ns]
dtype: object

In [7]:
de["Date"] = pd.to_datetime(df["Date"])

<ipython-input-7-4bd5a8efdea2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["Date"] = pd.to_datetime(df["Date"])

In [25]:
for i in de.values:
    print(i)

['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Sep 2021' Timestamp('2021-01-09 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Dec 2021' Timestamp('2021-01-12 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Mar 2022' Timestamp('2022-01-03 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Jun 2022' Timestamp('2022-01-06 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Sep 2022' Timestamp('2022-01-09 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Dec 2022' Timestamp('2022-01-12 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Mar 2023' Timestamp('2023-01-03 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Jun 2023' Timestamp('2023-01-06 00:00:00')]
['Diwakar Nigam' 22.41 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Sep 2023' Timestamp('2023-01-09 00:00:00')]
['Diwakar Nigam' 22.37 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Dec 2023' Timestamp('2023-01-12 00:00:00')]
['Diwakar Nigam' 22.35 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Mar 2024' Timestamp('2024-01-03 00:00:00')]
['Diwakar Nigam' 22.35 540900 'NEWGEN' 1074.0 150700000000.0
 140316573.55679703 'Jun 2024' Timestamp('2024-01-06 00:00:00')]

In [17]:
de[["Share","Date"]]

     Share       Date
1    22.41 2021-01-09
23   22.41 2021-01-12
46   22.41 2022-01-03
69   22.41 2022-01-06
92   22.41 2022-01-09
115  22.41 2022-01-12
138  22.41 2023-01-03
161  22.41 2023-01-06
184  22.41 2023-01-09
207  22.37 2023-01-12
230  22.35 2024-01-03
252  22.35 2024-01-06

In [18]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,2021-01-09
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,2021-01-12
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,2022-01-03
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,2022-01-06
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,2022-01-09
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,2022-01-12
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,2023-01-03
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,2023-01-06
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,2023-01-09
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,2023-01-12
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,2024-01-03
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,2024-01-06

In [26]:
de["Share_Change"] = de["Share"].pct_change() * 100

<ipython-input-26-1d89c4f7b37e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["Share_Change"] = de["Share"].pct_change() * 100

In [27]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,2021-01-09,NaN
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,2021-01-12,0.000000
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,2022-01-03,0.000000
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,2022-01-06,0.000000
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,2022-01-09,0.000000
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,2022-01-12,0.000000
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,2023-01-03,0.000000
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,2023-01-06,0.000000
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,2023-01-09,0.000000
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,2023-01-12,-0.178492
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,2024-01-03,-0.089405
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,2024-01-06,0.000000

In [40]:
for i in range(len(de)):
    print(i)
    if de["Share"][i] >de["share"][i+1]:
        print(de)
    elif de["Share"][i] >de["share"]:
        print(de)

0

KeyError: 0

In [32]:
df

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date
0,Promoters,55.16,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
2,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
3,Priyadarshini Nigam,9.39,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
4,Usha Varadarajan,1.90,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
...,...,...,...,...,...,...,...,...,...
524058,SBI General Insurance Company Limited,0.00,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
524059,Icici Prudential MultiAsset Fund,5.37,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
524060,Life Insurance Corporation Of India P Gs Fund,5.96,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
524061,Mirae Asset Large Cap Fund,1.11,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024
524062,Nippon Life India Trustee LtdAC Nippon India Lar,1.65,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024

In [55]:
for i in range(len(de["Share"])):  
    if de["Share"][i] > de["Share"][i + 1]:
        print(de)
        #print()
    elif de["Share"][i] > de["Share"][1+1]: 
        print(de[["Promoter","Share",]])

KeyError: 12

In [46]:
for i in range(len(de["Share"])):  
    print(i)
    if j in de["Share"][i]:
        print()

0

KeyError: 0

In [50]:
de["Share"][0]

22.41

In [48]:
de.reset_index(drop=True, inplace=True)

In [49]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,2021-01-09,NaN
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,2021-01-12,0.000000
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,2022-01-03,0.000000
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,2022-01-06,0.000000
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,2022-01-09,0.000000
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,2022-01-12,0.000000
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,2023-01-03,0.000000
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,2023-01-06,0.000000
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,2023-01-09,0.000000
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,2023-01-12,-0.178492
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,2024-01-03,-0.089405
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,2024-01-06,0.000000

In [67]:
for i in range(len(de["Share"]) - 1):  
    if de["Share"][i] > de["Share"][i + 1]:

        de["ch"] = ">"
        #print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",de[["Promoter", "Share","Date","Share_Change"]])
        
    elif de["Share"][i] < de["Share"][i + 1]:  
        de["ch"] ="<"
       # print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] == de["Share"][i + 1]:  
        de["ch"] ="="
        #print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",de[["Promoter", "Share","Date","Share_Change"]])

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
hgfkagakjfgrjdfgkadrfgjsagffsdjkgfdjhgvhdjfhbvhfgbhgf 22.41
jxfvhfhdvhfzkdvhkfdbhbkbbgdbjhgnb 22.37
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
hgfkagakjfgrjdfgkadrfgjsagffsdjkgfdjhgvhdjfhbvhfgbhgf 22.37
jxfvhfhdvhfzkdvhkfdbhbkbbgdbjhgnb 22.35
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          Promoter  Share       Date  Share_Change
0   Diwakar Nigam  22.41 2021-01-09           NaN
1   Diwakar Nigam  22.41 2021-01-12      0.000000
2   Diwakar Nigam  22.41 2022-01-03      0.000000
3   Diwakar Nigam  22.41 2022-01-06      0.000000
4   Diwakar Nigam  22.41 2022-01-09      0.000000
5   Diwakar Nigam  22.41 2022-01-12      0.000000
6   Diwakar Nigam  22.41 2023-01-03      0.000000
7   Diwakar Nigam  22.41 2023-01-06      0.000000
8   Diwakar Nigam  22.41 2023-01-09      0.000000
9   Diwakar Nigam  22.37 2023-01-12     -0.178492
10  Diwakar Nigam  22.35 2024-01-03     -0.089405
11  Diwakar Nigam  22.35 2024-01-06      0.000000

<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-67-1ab061b54362>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ">"
<ipython-input-67-1ab061b54362>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ">"
<ipython-input-67-1ab061b54362>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="

In [68]:
for i in range(len(de["Share"]) - 1): 
    print(de["Share"][i])
    print("hghfsgvcjfdhldvgfdl",de["Share"][i+1])

22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.41
22.41
hghfsgvcjfdhldvgfdl 22.37
22.37
hghfsgvcjfdhldvgfdl 22.35
22.35
hghfsgvcjfdhldvgfdl 22.35

In [78]:
de.dtypes

Promoter                object
Share                  float64
BSE Code                 int64
NSE Code                object
Price                  float64
MCap                   float64
TotalShares            float64
CaptureDate             object
Date            datetime64[ns]
Share_Change           float64
ch                      object
dtype: object

In [80]:
for i in range(len(de["Share"]) - 1):  
    if de["Share"][i] > de["Share"][i + 1]:
        de["ch"] = ">"
        #print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] < de["Share"][i + 1]:  
        de["ch"] ="<"
       # print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] == de["Share"][i + 1]:  
        de["ch"] ="="
        #print("========================================================================================================",de[["Promoter", "Share","Date","Share_Change"]])

<ipython-input-80-e33a214469cf>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-80-e33a214469cf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ">"

In [81]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change,ch
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,2021-01-09,NaN,=
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,2021-01-12,0.000000,=
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,2022-01-03,0.000000,=
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,2022-01-06,0.000000,=
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,2022-01-09,0.000000,=
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,2022-01-12,0.000000,=
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,2023-01-03,0.000000,=
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,2023-01-06,0.000000,=
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,2023-01-09,0.000000,=
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,2023-01-12,-0.178492,=
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,2024-01-03,-0.089405,=
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,2024-01-06,0.000000,=

In [ ]:
for i in range(len(de["Share"]) - 1):  
    elif de["Share"][i] > de["Share"][i + 1]:
        de["ch"] = ">"
        #print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] < de["Share"][i + 1]:  
        de["ch"] ="<"
       # print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] == de["Share"][i + 1]:  
        de["ch"] ="="
        #print("========================================================================================================",de[["Promoter", "Share","Date","Share_Change"]])

In [84]:
for i in range(len(de["Share"]) - 1):
    if de["Share"][i] == de["Share"][i + 1]:
        de["ch"] ="="
        #print("========================================================================================================",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] > de["Share"][i + 1]:
        de["ch"] = ">"
        #print(">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>",de[["Promoter", "Share","Date","Share_Change"]])
    elif de["Share"][i] < de["Share"][i + 1]:  
        de["ch"] ="<"
       # print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<",de[["Promoter", "Share","Date","Share_Change"]

         Promoter  Share  BSE Code NSE Code   Price          MCap  \
0   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
1   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
2   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
3   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
4   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
5   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
6   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
7   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
8   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
9   Diwakar Nigam  22.37    540900   NEWGEN  1074.0  1.507000e+11
10  Diwakar Nigam  22.35    540900   NEWGEN  1074.0  1.507000e+11
11  Diwakar Nigam  22.35    540900   NEWGEN  1074.0  1.507000e+11

     TotalShares CaptureDate       Date  Share_Change ch
0   1.403166e+08    Sep 2021 2021-01-09           NaN  >
1   1.403166e+08    Dec 2021 2021-01-12      0.000000  >
2   1.403166e+08    Mar 2022 2022-01-03      0.000000  >
3   1.403166e+08    Jun 2022 2022-01-06      0.000000  >
4   1.403166e+08    Sep 2022 2022-01-09      0.000000  >
5   1.403166e+08    Dec 2022 2022-01-12      0.000000  >
6   1.403166e+08    Mar 2023 2023-01-03      0.000000  >
7   1.403166e+08    Jun 2023 2023-01-06      0.000000  >
8   1.403166e+08    Sep 2023 2023-01-09      0.000000  >
9   1.403166e+08    Dec 2023 2023-01-12     -0.178492  >
10  1.403166e+08    Mar 2024 2024-01-03     -0.089405  >
11  1.403166e+08    Jun 2024 2024-01-06      0.000000  >
         Promoter  Share  BSE Code NSE Code   Price          MCap  \
0   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
1   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
2   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
3   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
4   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
5   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
6   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
7   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
8   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
9   Diwakar Nigam  22.37    540900   NEWGEN  1074.0  1.507000e+11
10  Diwakar Nigam  22.35    540900   NEWGEN  1074.0  1.507000e+11
11  Diwakar Nigam  22.35    540900   NEWGEN  1074.0  1.507000e+11

     TotalShares CaptureDate       Date  Share_Change ch
0   1.403166e+08    Sep 2021 2021-01-09           NaN  >
1   1.403166e+08    Dec 2021 2021-01-12      0.000000  >
2   1.403166e+08    Mar 2022 2022-01-03      0.000000  >
3   1.403166e+08    Jun 2022 2022-01-06      0.000000  >
4   1.403166e+08    Sep 2022 2022-01-09      0.000000  >
5   1.403166e+08    Dec 2022 2022-01-12      0.000000  >
6   1.403166e+08    Mar 2023 2023-01-03      0.000000  >
7   1.403166e+08    Jun 2023 2023-01-06      0.000000  >
8   1.403166e+08    Sep 2023 2023-01-09      0.000000  >
9   1.403166e+08    Dec 2023 2023-01-12     -0.178492  >
10  1.403166e+08    Mar 2024 2024-01-03     -0.089405  >
11  1.403166e+08    Jun 2024 2024-01-06      0.000000  >

<ipython-input-84-cbd35f414a3f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="
<ipython-input-84-cbd35f414a3f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ">"
<ipython-input-84-cbd35f414a3f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ">"
<ipython-input-84-cbd35f414a3f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] ="="

In [83]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change,ch
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,2021-01-09,NaN,=
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,2021-01-12,0.000000,=
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,2022-01-03,0.000000,=
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,2022-01-06,0.000000,=
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,2022-01-09,0.000000,=
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,2022-01-12,0.000000,=
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,2023-01-03,0.000000,=
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,2023-01-06,0.000000,=
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,2023-01-09,0.000000,=
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,2023-01-12,-0.178492,=
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,2024-01-03,-0.089405,=
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,2024-01-06,0.000000,=

In [91]:
de["ch"] = "No"  

for i in range(len(de["Share"]) - 1):
    print(i)
    if de["Share"][i] == de["Share"][i + 1]:
        de.at[i, "ch"] = "equal"
    elif de["Share"][i] > de["Share"][i + 1]:
        de.at[i, "ch"] = "Decreased"
    elif de["Share"][i] < de["Share"][i + 1]:
        de.at[i, "ch"] = "Increased"

0
1
2
3
4
5
6
7
8
9
10

<ipython-input-91-543a033e8d53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = "No"

In [90]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change,ch
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,2021-01-09,NaN,equal
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,2021-01-12,0.000000,equal
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,2022-01-03,0.000000,equal
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,2022-01-06,0.000000,equal
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,2022-01-09,0.000000,equal
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,2022-01-12,0.000000,equal
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,2023-01-03,0.000000,equal
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,2023-01-06,0.000000,equal
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,2023-01-09,0.000000,Decreased
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,2023-01-12,-0.178492,Decreased
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,2024-01-03,-0.089405,equal
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,2024-01-06,0.000000,No

In [94]:
for i in range(len(de["Share"])-1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
df['PromoterShares'] = df['TotalShares'] * (df['Share'] / 100)


df['MarketValue'] = df['PromoterShares'] * df['Price']


print(df[['CaptureDate', 'Date', 'Share', 'PromoterShares', 'MarketValue']])

In [97]:
import pandas as pd

# Define your data
data = {
    "Promoter": ["Diwakar Nigam"] * 12,
    "Share": [22.41, 22.41, 22.41, 22.41, 22.41, 22.41, 22.41, 22.41, 22.41, 22.37, 22.35, 22.35],
    "BSE Code": [540900] * 12,
    "NSE Code": ["NEWGEN"] * 12,
    "Price": [1074.0] * 12,
    "MCap": [1.507e+11] * 12,
    "TotalShares": [1.403166e+08] * 12,
    "CaptureDate": ["Sep 2021", "Dec 2021", "Mar 2022", "Jun 2022", "Sep 2022", "Dec 2022", "Mar 2023", "Jun 2023", "Sep 2023", "Dec 2023", "Mar 2024", "Jun 2024"],
    "Date": ["01-09-2021", "01-12-2021", "01-03-2022", "01-06-2022", "01-09-2022", "01-12-2022", "01-03-2023", "01-06-2023", "01-09-2023", "01-12-2023", "01-03-2024", "01-06-2024"]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Calculate Promoter's Equity in Shares
df['PromoterShares'] = df['TotalShares'] * (df['Share'] / 100)

# Calculate Market Value of Promoterâ€™s Shares
df['MarketValue'] = df['PromoterShares'] * df['Price']

ns
print(df[['CaptureDate', 'Date', 'Share', 'PromoterShares', 'MarketValue']])

   CaptureDate        Date  Share  PromoterShares   MarketValue
0     Sep 2021  01-09-2021  22.41     31444950.06  3.377188e+10
1     Dec 2021  01-12-2021  22.41     31444950.06  3.377188e+10
2     Mar 2022  01-03-2022  22.41     31444950.06  3.377188e+10
3     Jun 2022  01-06-2022  22.41     31444950.06  3.377188e+10
4     Sep 2022  01-09-2022  22.41     31444950.06  3.377188e+10
5     Dec 2022  01-12-2022  22.41     31444950.06  3.377188e+10
6     Mar 2023  01-03-2023  22.41     31444950.06  3.377188e+10
7     Jun 2023  01-06-2023  22.41     31444950.06  3.377188e+10
8     Sep 2023  01-09-2023  22.41     31444950.06  3.377188e+10
9     Dec 2023  01-12-2023  22.37     31388823.42  3.371160e+10
10    Mar 2024  01-03-2024  22.35     31360760.10  3.368146e+10
11    Jun 2024  01-06-2024  22.35     31360760.10  3.368146e+10

In [103]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,PromoterShares
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,3.144494e+07
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,3.144494e+07
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,3.144494e+07
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,3.144494e+07
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,3.144494e+07
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,3.144494e+07
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,3.144494e+07
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,3.144494e+07
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,3.144494e+07
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,3.138882e+07
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,3.136075e+07
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,3.136075e+07

In [101]:
de["PromoterShares"] =de['TotalShares'] * (de['Share'] / 100)
df['MarketValue'] = de['PromoterShares'] * de['Price']

<ipython-input-101-8cc313635601>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["PromoterShares"] =de['TotalShares'] * (de['Share'] / 100)

In [104]:
de["ch"] = ""  # Initialize the 'ch' column with empty strings or any default value

for i in range(len(de["Share"])):
    if i == len(de["Share"]) - 1:
        de.at[i, "ch"] = "="  # Assign any default value or use custom logic for the last element
    elif de["Share"][i] == de["Share"][i + 1]:
        de.at[i, "ch"] = "="
    elif de["Share"][i] > de["Share"][i + 1]:
        de.at[i, "ch"] = ">"
    elif de["Share"][i] < de["Share"][i + 1]:
        de.at[i, "ch"] = "<"

<ipython-input-104-74c1ba406e27>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ""  # Initialize the 'ch' column with empty strings or any default value

KeyError: 0

In [107]:
de["ch"] = ""  

for i in range(len(de)):
    if i == len(de) - 1:
        de.at[de.index[i], "ch"] = "no"  
    elif de.iloc[i]["Share"] == de.iloc[i + 1]["Share"]:
        de.at[de.index[i], "ch"] = "="
    elif de.iloc[i]["Share"] > de.iloc[i + 1]["Share"]:
        de.at[de.index[i], "ch"] = ">"
    elif de.iloc[i]["Share"] < de.iloc[i + 1]["Share"]:
        de.at[de.index[i], "ch"] = "<"

<ipython-input-107-4bdafc7ebbbc>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ""  # Initialize the 'ch' column with empty strings or any default value

In [108]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,PromoterShares,ch
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,3.144494e+07,=
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,3.144494e+07,=
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,3.144494e+07,=
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,3.144494e+07,=
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,3.144494e+07,=
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,3.144494e+07,=
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,3.144494e+07,=
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,3.144494e+07,=
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,3.144494e+07,>
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,3.138882e+07,>
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,3.136075e+07,=
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,3.136075e+07,no

In [115]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024

In [116]:
import pandas as pd


de["ch"] = ""


for i in range(len(de) - 1):
    if de.iloc[i]["Share"] == de.iloc[i + 1]["Share"]:
        de.at[de.index[i], "ch"] = "="
    elif de.iloc[i]["Share"] > de.iloc[i + 1]["Share"]:
        de.at[de.index[i], "ch"] = ">"
    elif de.iloc[i]["Share"] < de.iloc[i + 1]["Share"]:
        de.at[de.index[i], "ch"] = "<"

          Promoter  Share  BSE Code NSE Code   Price          MCap  \
1    Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
23   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
46   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
69   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
92   Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
115  Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
138  Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
161  Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
184  Diwakar Nigam  22.41    540900   NEWGEN  1074.0  1.507000e+11
207  Diwakar Nigam  22.37    540900   NEWGEN  1074.0  1.507000e+11
230  Diwakar Nigam  22.35    540900   NEWGEN  1074.0  1.507000e+11
252  Diwakar Nigam  22.35    540900   NEWGEN  1074.0  1.507000e+11

      TotalShares CaptureDate        Date ch
1    1.403166e+08    Sep 2021  01-09-2021  =
23   1.403166e+08    Dec 2021  01-12-2021  =
46   1.403166e+08    Mar 2022  01-03-2022  =
69   1.403166e+08    Jun 2022  01-06-2022  =
92   1.403166e+08    Sep 2022  01-09-2022  =
115  1.403166e+08    Dec 2022  01-12-2022  =
138  1.403166e+08    Mar 2023  01-03-2023  =
161  1.403166e+08    Jun 2023  01-06-2023  =
184  1.403166e+08    Sep 2023  01-09-2023  >
207  1.403166e+08    Dec 2023  01-12-2023  >
230  1.403166e+08    Mar 2024  01-03-2024  =
252  1.403166e+08    Jun 2024  01-06-2024

<ipython-input-116-14678b328938>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] = ""

In [118]:
de.reset_index(drop=True,inplace=True)

In [119]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,=
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,=
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,=
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,=
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,=
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,=
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,=
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,=
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,>
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,>
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,=
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,

In [121]:
de[11:]

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,=
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,

In [126]:
if de["Share"].iloc[10] >de["Share"].iloc[11]:
    print(">","yes")
elif de["Share"].iloc[10] < de["Share"].iloc[11]:
    print("<","yes")
elif de["Share"].iloc[10] == de["Share"].iloc[11]:
    print("==","yes")

== yes

In [134]:
for i in range(len(de) - 1):
    i = i
    j = i +1
    print()
    if de["Share"].iloc[i] >de["Share"].iloc[j]:
        print(">","yes")
        de["ch"] =">"
    elif de["Share"].iloc[i] < de["Share"].iloc[j]:
        print("<","yes")
        de["ch"] ="<"
    elif de["Share"].iloc[i] == de["Share"].iloc[j]:
        print("==","yes")
        de["ch"] ="=="

0 1

== yes
1 2

== yes
2 3

== yes
3 4

== yes
4 5

== yes
5 6

== yes
6 7

== yes
7 8

== yes
8 9

9 10

10 11

== yes

In [135]:
for i in range(len(de) - 1):
    i = i
    j = i +1
    print(i,j)
    print()
    if de["Share"].iloc[i+1] >de["Share"].iloc[j]:
        print(">","yes")
        de.at[de.index[i], "ch"] = "<"
    elif de["Share"].iloc[i] < de["Share"].iloc[j]:
        print("<","yes")
        de.at[de.index[i], "ch"] = "<"
    elif de["Share"].iloc[i] == de["Share"].iloc[j]:
        print("==","yes")
        de.at[de.index[i], "ch"] = "=="

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,==
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,==
2,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,==
3,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,==
4,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,==
5,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,==
6,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,==
7,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,==
8,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,==
9,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,<
10,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,==
11,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,==

In [144]:
de["ch"] =""
for i in range(len(de) - 1):
    j = i + 1
    if de["Share"].iloc[i] > de["Share"].iloc[j]:
        #print(">", "yes")
        de["ch"].iloc[j] = "UP"  
    elif de["Share"].iloc[i] < de["Share"].iloc[j]:
        #print("<", "yes")
        de["ch"].iloc[j] = "DOWN"  
    elif de["Share"].iloc[i+1] == de["Share"].iloc[j]:
        #print("==", "yes")
        de["ch"].iloc[j] = "EQUAL"

== yes
== yes
== yes
== yes
== yes
== yes
== yes
== yes
> yes
> yes
== yes

<ipython-input-144-5446ffc7ddbb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"] =""
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = ">"
<ipython-input-144-5446ffc7ddbb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = ">"
<ipython-input-144-5446ffc7ddbb>:6: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = ">"
<ipython-input-144-5446ffc7ddbb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = ">"
<ipython-input-144-5446ffc7ddbb>:12: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  de["ch"].iloc[j] = "=="
<ipython-input-144-5446ffc7ddbb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  de["ch"].iloc[j] = "=="

In [145]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,==
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,==
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,==
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,==
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,==
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,==
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,==
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,==
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,>
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,>
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,==

In [143]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,==
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,==
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,==
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,==
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,==
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,==
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,==
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,==
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,>
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,==
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,

In [147]:
a = df["Promoter"].unique()

In [151]:

len(a)

40420

In [3]:
#de["ch"] =""
df["ch"] =""
a = df["Promoter"].unique()
for i in a:
    de = df[df["Promoter"]==f"{i}"]
    #de["ch"] =""
    for i in range(len(de) - 1):
        j = i + 1
        if de["Share"].iloc[i] > de["Share"].iloc[j]:
            #print(">", "yes")
            de["ch"].iloc[j] = "UP"  
        elif de["Share"].iloc[i] < de["Share"].iloc[j]:
            #print("<", "yes")
            de["ch"].iloc[j] = "DOWN"  
        elif de["Share"].iloc[i+1] == de["Share"].iloc[j]:
            #print("==", "yes")
            de["ch"].iloc[j] = "EQUAL"

NameError: name 'de' is not defined

In [41]:

import pandas as pd


df["ch"] = ""


promoters = df["Promoter"].unique()


for promoter in promoters:

    de = df[df["Promoter"] == promoter].copy()
    

    for i in range(len(de) - 1):
        j = i + 1
        if de["Share"].iloc[i] > de["Share"].iloc[j]:
            df.loc[de.index[j], "ch"] = "Down"
        elif de["Share"].iloc[i] < de["Share"].iloc[j]:
            df.loc[de.index[j], "ch"] = "up"
        else:
            df.loc[de.index[j], "ch"] = "EQUAL"

In [44]:
df

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
0,Promoters,55.16,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
2,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
3,Priyadarshini Nigam,9.39,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
4,Usha Varadarajan,1.90,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
...,...,...,...,...,...,...,...,...,...,...
524058,SBI General Insurance Company Limited,0.00,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,EQUAL
524059,Icici Prudential MultiAsset Fund,5.37,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524060,Life Insurance Corporation Of India P Gs Fund,5.96,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524061,Mirae Asset Large Cap Fund,1.11,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524062,Nippon Life India Trustee LtdAC Nippon India Lar,1.65,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,

In [39]:
de = df[df["Promoter"]=="Diwakar Nigam"]

In [40]:
de

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
23,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,
46,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,
69,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,
92,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,
115,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,
138,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,
161,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,
184,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,
207,Diwakar Nigam,22.37,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,
230,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,
252,Diwakar Nigam,22.35,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,

In [7]:
import pandas as pd
import numpy as np
# Initialize the 'ch' column
df["ch"] = ""

# Use groupby and shift to compare consecutive values
df["ch"] = df.groupby("Promoter")["Share"].apply(lambda x: x.diff().fillna(0)).apply(
    lambda x: pd.Series(np.where(x > 0, "Down", np.where(x < 0, "up", "EQUAL")))
)

# Convert back to original DataFrame
df["ch"] = df.groupby("Promoter").cumcount().map(df.groupby("Promoter")["ch"].last())

TypeError: incompatible index of inserted column with frame index

In [80]:
dr = df[df["Date"]=='01-06-2024']

In [81]:
dr =dr[dr["ch"]=="up"]

In [85]:
dr = dr[dr["Promoter"] != "Promoters"]

In [88]:
dr = dr.drop_duplicates(subset=["BSE Code"],keep=False)

In [90]:
dr.to_csv("jun.csv")

In [76]:
df[df["BSE Code"]==542597]

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
155590,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,up
155591,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,Down
155592,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,
155593,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,
155594,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,
155595,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,
155596,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2021,01-09-2021,
155597,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155598,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155599,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155600,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155601,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155602,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155603,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2021,01-12-2021,EQUAL
155604,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155605,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155606,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155607,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155608,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155609,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155610,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2022,01-03-2022,EQUAL
155611,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155612,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155613,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155614,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155615,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155616,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155617,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2022,01-06-2022,EQUAL
155618,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155619,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155620,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155621,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155622,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155623,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155624,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2022,01-09-2022,EQUAL
155625,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155626,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155627,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155628,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155629,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155630,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155631,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2022,01-12-2022,EQUAL
155632,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155633,President Of India,64.74,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155634,Bhanu Kumar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155635,Ajay Kumar Rai Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155636,Subrata Sarkar Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155637,Awadhesh Kumar Choudhary Nominee President Of ...,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155638,Surinder Kumar Gupta Nominee President Of India,0.00,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2023,01-03-2023,EQUAL
155639,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2023,01-06-2023,EQUAL
155640,President Of India,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2023,01-06-2023,up
155641,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2023,01-09-2023,EQUAL
155642,President Of India,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Sep 2023,01-09-2023,EQUAL
155643,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2023,01-12-2023,EQUAL
155644,President Of India,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Dec 2023,01-12-2023,EQUAL
155645,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2024,01-03-2024,EQUAL
155646,President Of India,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Mar 2024,01-03-2024,EQUAL
155647,Promoters,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2024,01-06-2024,EQUAL
155648,President Of India,64.75,542597,MSTCLTD,817.0,5.753000e+10,7.041616e+07,Jun 2024,01-06-2024,EQUAL

In [91]:
df

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
0,Promoters,55.16,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
2,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
3,Priyadarshini Nigam,9.39,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
4,Usha Varadarajan,1.90,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
...,...,...,...,...,...,...,...,...,...,...
524058,SBI General Insurance Company Limited,0.00,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,EQUAL
524059,Icici Prudential MultiAsset Fund,5.37,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524060,Life Insurance Corporation Of India P Gs Fund,5.96,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524061,Mirae Asset Large Cap Fund,1.11,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524062,Nippon Life India Trustee LtdAC Nippon India Lar,1.65,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,

In [92]:
du = df[df["Promoter"] != "Promoters"]

In [93]:
du

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,ch
1,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
2,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
3,Priyadarshini Nigam,9.39,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
4,Usha Varadarajan,1.90,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
5,Ragini Goorha,0.00,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,
...,...,...,...,...,...,...,...,...,...,...
524058,SBI General Insurance Company Limited,0.00,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,EQUAL
524059,Icici Prudential MultiAsset Fund,5.37,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524060,Life Insurance Corporation Of India P Gs Fund,5.96,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524061,Mirae Asset Large Cap Fund,1.11,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,
524062,Nippon Life India Trustee LtdAC Nippon India Lar,1.65,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,

In [ ]:
de["Share_Change"] = de["Share"].pct_change() * 100

In [94]:

import pandas as pd




promoters = du["Promoter"].unique()


for promoter in promoters:

    de = df[df["Promoter"] == promoter].copy()
    de["Share_Change"] = de["Share"].pct_change() * 100
    du.loc[du["Promoter"] == promoter, "Share_Change"] = de["Share_Change"]

<ipython-input-94-cb05feeaf4b5>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  du.loc[du["Promoter"] == promoter, "Share_Change"] = de["Share_Change"]

In [9]:

promoters = df["Promoter"].unique()

# Loop through each promoter and calculate share change
for promoter in promoters:
    de = df[df["Promoter"] == promoter].copy()
    de["Share_Change"] = de["Share"].pct_change() * 100
    

    du.loc[df["Promoter"] == promoter, "Share_Change"] = de["Share_Change"]

In [ ]:
du["Share_Cha0nge"] = df.groupby("Promoter")["Share"].transform(lambda x: x.pct_change() * 100)

In [8]:
du = df

In [10]:
du

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change
0,Diwakar Nigam,22.41,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,NaN
1,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,NaN
2,Priyadarshini Nigam,9.39,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,NaN
3,Usha Varadarajan,1.90,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,NaN
4,Ragini Goorha,0.00,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,NaN
...,...,...,...,...,...,...,...,...,...,...
481019,SBI General Insurance Company Limited,0.00,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,NaN
481020,Icici Prudential MultiAsset Fund,5.37,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,NaN
481021,Life Insurance Corporation Of India P Gs Fund,5.96,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,NaN
481022,Mirae Asset Large Cap Fund,1.11,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,NaN
481023,Nippon Life India Trustee LtdAC Nippon India Lar,1.65,543066,SBICARD,717.0,6.815900e+11,9.506137e+08,Jun 2024,01-06-2024,NaN

In [13]:
a =du[du["Promoter"]=="T S Varadarajan"]

In [14]:
a

,Promoter,Share,BSE Code,NSE Code,Price,MCap,TotalShares,CaptureDate,Date,Share_Change
1,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2021,01-09-2021,NaN
22,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2021,01-12-2021,0.000000
44,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2022,01-03-2022,0.000000
66,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2022,01-06-2022,0.000000
88,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2022,01-09-2022,0.000000
110,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2022,01-12-2022,0.000000
132,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2023,01-03-2023,0.000000
154,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2023,01-06-2023,0.000000
176,T S Varadarajan,21.46,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Sep 2023,01-09-2023,0.000000
198,T S Varadarajan,21.42,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Dec 2023,01-12-2023,-0.186393
220,T S Varadarajan,21.40,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Mar 2024,01-03-2024,-0.093371
241,T S Varadarajan,21.40,540900,NEWGEN,1074.0,1.507000e+11,1.403166e+08,Jun 2024,01-06-2024,0.000000